<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ngseed (0.2.1)</title>
  <link rel="stylesheet" href="assets/css/main.css?bust=v0.4.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/angular-motion/dist/angular-motion.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="vendor/angular-gridster/dist/angular-gridster.min.css">



</head>
<body ng-controller="HomeController">

    <br/>
    <div class="col-xs-1" style="margin: 0px 15px">
      <img src="assets/images/base/icon/xi.jpeg" height="34" width="34">
    </div>
    <div class="col-xs-10">
      <div class="input-group">
          <typeahead items="suggestions" prompt="Enter query" model="query" classes="form-control"></typeahead>
          <span class="input-group-btn">
            <button ng-click="getResults()" class="btn btn-default" type="button">Go!</button>
          </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->


    <hr class="col-xs-12"/>
    <div class="container-fluid col-xs-12">

        <div gridster="gridsterOpts">
          <ul>
              <li gridster-item="chart" ng-repeat="chart in charts">
                  <div ng-include="chart.type"></div>

              </li>
          </ul>
        </div>
    </div>



<!-- Scripts -->
<script src="vendor/requirejs/require.js"></script>
<script>
  // obtain requirejs config
  require(['require', './js/config-require'], function (require, config) {

    // set cache beater
    config.urlArgs = 'bust=v0.4.0';

    // update global require config
    window.require.config(config);

    // load app
    require(['./js/main.js']);
  });
</script>

<!-- Templates -->
<script type="text/ng-template" id="area">
    <fs:area
            duration="750"
            interpolate="true"
            interval="hour"
            stat="getStat"
            on-click="filterSearchA"
            bind="data.aggregations.date_histogram"
            />

</script>
<script type="text/ng-template" id="histo">
    <fs:date-histo
            duration="750"
            interval="hour"
            stat="getStat"
            on-click="filterSearchA"
            bind="data.aggregations.date_histogram"
            />
</script>
<script type="text/ng-template" id="pie">

</script>
<script type="text/ng-template" id="donut">
    <fs:donut
            outer-radius="200"
            inner-radius="75"
            duration="750"
            on-click="filterSearchA"
            bind="data.aggregations.touchdowns" />
</script>

</body>
</html>
